body {
  font-family: "Times New Roman", Times, serif;
}

.container {
  display: grid;
  grid-template-rows: 0.2fr 1fr 1fr;
}

/* Header */
header {
  background-color: #edefee;
}

/* Navbar */
nav {
  /* margin-left: 230px; */
}

.topHeader {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 150px;
  margin-right: 150px;
  display: grid;
  grid-template-columns: 1fr 2fr;
}

.navUL {
  list-style: none;
  margin-top: 10px;
  padding: 0;
}

.navUL li {
  display: inline;
  padding-left: 53px;
}

.navUL li a {
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  color: black;
}

/* Main */
h1 {
  color: #f4ce14;
}

/* Footer */
footer {
  background-color: #495e57;
}

.footerContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 150px;
  margin-right: 150px;
}

footer img {
  margin-top: 20px;
  margin-bottom: 20px;
}

footer p {
  color: #f4ce14;
  font-weight: bold;
}

footer ul {
  list-style: none;
}

footer a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}
