body {
  font-family: "Times New Roman", Times, serif;
}

.container {
  display: grid;
  grid-template-rows: auto;
}

/* Header */
header {
}

/* Navbar */
nav {
  /* margin-left: 230px; */
  background-color: #edefee;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navUL {
  list-style: none;
  margin-left: 150px;
  margin-right: 150px;
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 0;
}

.navUL li {
  display: inline;
  padding-left: 65px;
}

.navUL li a {
  font-weight: bold;
  font-size: 17px;
  text-decoration: none;
  color: black;
}

/* Main */
main {
}
h1 {
  color: #f4ce14;
}

/* Hero */
.hero-container {
  background-color: #495e57;
}
.hero {
  display: grid;
  grid-template-columns: 3fr 1fr;
  place-items: center;
  margin-left: 150px;
  margin-right: 150px;
}

.hero-section1 {
}

.hero-section2 {
}

.hero h2 {
  color: white;
}

.hero-section1 p {
  color: white;
  margin-right: 400px;
}

.hero button {
  background-color: #f4ce14;
  color: black;
  border: none;
  border-radius: 10px;
  padding: 15px;
  font-weight: bold;
}

.hero img {
  border-radius: 20px;
}

/*Specials*/
.specials {
  margin-left: 150px;
  margin-right: 150px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.specials-top {
  display: grid;
  grid-template-columns: 3fr auto;
}

.specials-top h1 {
  color: black;
}

.specials-top button {
  background-color: #f4ce14;
  border: none;
  width: 150px;
  height: 50px;
  border-radius: 10px;
  font-weight: bold;
}

.specials-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
}

.specials-card {
  width: 250px;
}

.specials-card img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.specials-card-content {
  display: grid;
  grid-template-rows: auto;
  background-color: #edefee;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.specials-card-content-top {
  display: grid;
  grid-template-columns: 3fr 1fr;
}

.specials-card-content-top .meal {
  font-weight: bold;
}

.specials-card-content-top .price {
  font-weight: bold;
  color: #f4ce14;
}

.specials-card-content .orderDelivery {
  font-weight: bold;
  color: black;
}

/* Testimonials */
.testimonials-container {
  display: grid;
  grid-template-rows: auto;
  text-align: center;
  margin-left: 150px;
  margin-right: 150px;
  padding-top: 30px;
  padding-bottom: 30px;
}

.testimonials-cards {
  display: grid;
  place-items: center;
  grid-template-columns: repeat(4, 1fr);
}

.testimonials-card {
  background-color: #edefee;
  display: grid;
  grid-template-columns: 2fr 2fr;
  width: 200px;
  text-align: left;
  border-radius: 20px;
  padding: 10px;
}

.testimonials-left {
  font-weight: bold;
}

.testimonials-right {
  font-weight: bold;
  display: flex;
  height: 100%;
  align-items: center;
}

/* About */
.about-container {
  padding-top: 30px;
  padding-bottom: 30px;
  display: grid;
  grid-template-columns: 2fr 2fr;
  place-items: center;
  margin-left: 150px;
  margin-right: 150px;
}

.about-right {
  display: grid;
  grid-template-columns: 2fr 2fr;
}

.about-img1 {
  border-radius: 20px;
}

.about-img2 {
  border-radius: 20px;
  margin-bottom: 0px;
}

/* Footer */
footer {
  background-color: #495e57;
}

.footerContent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-left: 150px;
  margin-right: 150px;
}

footer img {
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
}

footer p {
  color: #f4ce14;
  font-size: 17px;
  font-weight: bold;
}

footer ul {
  list-style: none;
}

footer a {
  font-size: 17px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

/*Booking Form */
form {
  display: grid;
  max-width: 200px;
  gap: 20px;
  grid-template-rows: auto;
}

@media screen and (max-width: 768px) {
  .footerContent {
    display: grid;
    grid-template-columns: auto;
  }
}
